# Mac OS
.DS_Store

# VS Code
.vscode/

# IntelliJ IDEA
.idea/

# Maven
.mvn/
target/

# Gradle
.gradle/
build/

# Environments
.env
.venv

# production
/build

# reference
reference/

# Node
node_modules/

# next.js
/.next/
/out/

# vercel
.vercel

docs/
logs/
